.co-stream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-style: normal;
  color: azure;
  filter: drop-shadow(1px 1px 1px #000);
  border: 2px solid #333333d6;
  border-radius: 30px;
  background-color: #13131580;
  background-image: radial-gradient(
    rgba(95, 81, 115, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.co-stream-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.match-schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.match-card {
  background-color: #11111119;
  margin-bottom: 5px;
  border: 1px solid #333;
  padding: 5px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.team-logo {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.team-name {
  font-size: 1.9em;
  margin: 0 10px;
  width: 51px;
  text-align: center;
}

.score {
  font-size: 1.4em;
  margin: 0 10px;
}

.details-section {
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-time,
.format {
  font-size: 1em;
}

.coCastMod {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-style: normal;
  color: azure;
  filter: drop-shadow(1px 1px 1px #000);
}

.coCastForm label {
  font-size: 1.2em;
}

.coCastFormDiv {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
}
