@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

.eloimg {
    margin-bottom: -18%;
    width: 120%;
    filter: drop-shadow(7px 9px 3px #222);
}

.eloOverlayContainer {
    color: azure;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.imgdiv {
    display: flex;
    filter: drop-shadow(7px 9px 3px #222);
    margin-right: 20px;
}

.profileImg {
    width: 120px;
    border-radius: 50%;
    clip-path: circle(46% at 50% 50%);
}

.ELO {
    width: 65%;
}

p {
    margin: -12px;
    filter: drop-shadow(4px 4px 3px #222);
    font-size: 5em;
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;
}

.eloAndLP {
    margin-right: -50px;
}

.eloInfo {
    width: 55%;
}

.matchhistory {
    width: 75%;
}

.lpDiff {
    font-size: 3.5em;
    margin: -27px;
    margin-left: -75px;
}

.challengeScore {
    font-size: 2.5em;
    margin: -27px;
    margin-left: -75px;
    margin-top: 15px;
}

.overlayIMG {
    position: absolute;
    top: 0;
}

.spacer {
    height: 5em;
}

.leagueborder {
    font-size: 30px;
    padding-bottom: 1em;
}

.flamesOverlayIMG {
    position: absolute;
    top: -64px;
    right: -33px;
}