@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

.eloimg {
    margin-bottom: -18%;
    width: 120%;
}

img {
    filter: drop-shadow(3px 3px 3px #222);
}

body {
    color: azure;
    margin: 0;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.imgdiv {
    display: flex;
    filter: drop-shadow(3px 3px 12px #222);
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profileImg {
    width: 120px;
    border-radius: 50%;
    clip-path: circle(46% at 50% 50%);
}

.ELO {
    margin-top: -9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

p {
    margin: 2px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 1.8);
    font-size: 5em;
}

#Player {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playerInfo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 45%;
}

.lpDiff {
    font-size: 3.5em;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}

.overlayIMG {
    position: absolute;
    top: 0;
}

.spacer {
    height: 3em;
}