.layout {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: x-large;
    color: azure;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

#userInputs {
    width: fit-content;
}

.link {
    font-size: small;
}

#linkCol {
    width: 750px;
}

#help {
    width: fit-content;
}