@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

.FiveVFiveOverlayContainer {
    color: azure;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    text-align: center;
    filter: drop-shadow(4px 4px 3px #222);
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;

}

.alterduOpfer {
    width: fit-content;
    display: flex;
    align-items: flex-start;
}

.wongames {
    width: max-content;
}

.team5v5,
.FiveVFiveOverlayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team5v5 {
    flex-direction: column;
}

.currentGame {
    border: #64ff64 solid 2px;
    border-radius: 20px;
    width: fit-content;
    background-color: rgba(133, 191, 133, 0.201);
}

.VS5v5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentGame h4,
h3 {
    margin: 12px;
}

.currentGame h3 {
    border: transparent solid 0px;
    border-radius: 10px;
    background-color: rgba(61, 108, 67, 0.833);
}