.footer {
    background-color: #343a406d;
    color: #fff;
    padding: 8px 0;
    font-size: 10px;
}

.footer-section {
    color: #fff;
    width: 60%;
    font-size: small;
}

.footer-bottom {
    text-align: center;
}