.globalScreensaver {
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100vw !important;
  height: 100vh !important;
}

.screensaverReady {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.rangeLabel {
  width: 75%;
  margin-bottom: 0;
  text-align: left;
}
