.ddf-overlay-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  min-width: 1920px;
  min-height: 1080px;
  display: flex;
}

.ddf-cam-overlay {
  position: absolute;
  background-color: #ff00006d;
  /* border: solid 5px #efff10; */

  font-family: Saira, sans-serif;
  color: azure;
  font-weight: 900;
}

.ddfYourTurn {
  border: solid 5px #7ee2e8 !important;
  border-radius: 10px;
}

.ddf-cam-overlay-name-container {
  position: absolute;
  bottom: 3%;
  left: 3%;
  background-image: url("../../DDF/nameBack.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 170px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 2px #222);
}

.ddf-cam-overlay-name {
  font-size: 29px;
  margin-left: -25px;

  filter: drop-shadow(2px 2px 2px #222);
}

.ddf-cam-overlay-lifes {
  background-image: url("../../DDF/lifeBack.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 2px #222);
  font-size: 36px;
}

.ddf-cam-overlay-life {
  width: 22%;
  filter: drop-shadow(2px 2px 2px #222);
}

.ddf-cam-overlay-answers {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ddf-cam-overlay-answer {
  width: 6%;
  filter: drop-shadow(2px 2px 2px #222);
  margin: 1px;
}

.ddf-cam-overlay-invulnerable-container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ddf-cam-overlay-invulnerable {
  height: 100%;
  filter: drop-shadow(2px 2px 2px #222);
}

.ddf-controller-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.ddf-controller-players {
  width: 940px;
  border: #3c1b3e 5px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ddf-player-control {
  width: 900px;
  height: 80px;
  border: #222 5px solid;
  border-radius: 5px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ddf-player-control-lifes-container {
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ddf-player-control-lifes {
  width: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: azure;
  text-align: center;
}

.ddf-player-control-life {
  width: 30px;
  margin: 1px;
}

.ddf-player-control-name {
  font-size: 30px;
  width: 200px;
}

.ddf-player-control-fontSize {
  font-size: 20px;
  width: 50px;
}

.ddf-controlButton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  filter: drop-shadow(2px 2px 2px #222);
  margin: 3px;
}

.ddf-player-control-finale {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  filter: drop-shadow(2px 2px 2px #222);
  color: azure;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ddf-player-control-answers {
  width: 100px;
}

.ddf-player-control-answer {
  width: 30px;
}

.ddf-controller-question {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  filter: drop-shadow(2px 2px 2px #222);
  text-align: center;
  color: azure;
}

.ddf-controller-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
